trunk/GeofencingClient/web/WEB-INF/wsdl/localhost_8080/Geofencing/GeofencingService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://set.utbm.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://set.utbm.fr/">

<xs:element name="getFence" type="tns:getFence"></xs:element>

<xs:element name="getFenceResponse" type="tns:getFenceResponse"></xs:element>

<xs:complexType name="getFence">
<xs:sequence>
<xs:element name="tml" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFenceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>